:root {
  --background-color: rgb(255, 255, 255);
  --text-color: black;
  --answer-color: rgb(158, 31, 31);
  --dialogs-color: rgb(73, 94, 98);
  --dialogs-background: rgb(229, 239, 241);
  --basic-border-radius: 20px;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;

  body {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    background-color: var(--background-color);
    padding: 10vh 20vw;

    img {
      width: 20vw;
      border-radius: var(--basic-border-radius);
      margin: 2vw;
    }

    /* Liens rendus invisibles */
    a {
      color: var(--text-color);
      text-decoration: none;
    }

    /* Modificateur de marge dynamique pour ajuster l’espace */
    .spacer {
      margin-top: 100vh;
      margin-bottom: 50vh;
      padding-top: 50px;
    }

    /* Style des messages pour les réponses du narrateur */
    .message {
      margin-top: 2vh;
      color: var(--answer-color);
      font-weight: bold;
    }

    /* Style des DIALOOOOOGUES */
    .dialogue {
      border-radius: var(--basic-border-radius);
      margin: 6vh auto;
      padding: 2vh 10vh;
      width: 60%;
      font-weight: bold;
      font-size: large;
      background-color: var(--dialogs-background);
      color: var(--dialogs-color);
    }

    /* Quand une catastrophe arrive, ça bouge... */
    .catastrophe {
      width: 50vw;
      animation: shake 1.5s infinite;
    }

    /* Style des BOUTOOOOONNNNS :D */
    button {
      padding: 2vw;
      margin: 1vh 1vw;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      cursor: pointer;
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;

      &:hover {
        transform: scale(1.15);
      }

      &:active {
        transform: translate(5px, 2px);
      }
    }

    /* Différents backgrounds pour les BOUTOOOOONNNNS :D */
    .basicButton {
      background-image: url("Images/Decor/bouton1.png");
      &:active {
        background-image: url("Images/Decor/bouton1_clique.png");
      }
    }

    .deformedButton {
      background-image: url("Images/Decor/bouton2.png");
      &:active {
        background-image: url("Images/Decor/bouton2_clique.png");
      }
    }

    .dirtyButton {
      background-image: url("Images/Decor/bouton3.png");
      &:active {
        background-image: url("Images/Decor/bouton3_clique.png");
      }
    }

    .mediumButton {
      background-image: url("Images/Decor/bouton_moyen.png");
      &:active {
        background-image: url("Images/Decor/bouton_moyen_clique.png");
      }
    }

    .semiLongButton {
      background-image: url("Images/Decor/bouton_semi_long.png");
      &:active {
        background-image: url("Images/Decor/bouton_semi_long_clique.png");
      }
    }

    .longButton {
      background-image: url("Images/Decor/bouton_long.png");
      &:active {
        background-image: url("Images/Decor/bouton_long_clique.png");
      }
    }

    /* La sélection de texte */
    ::selection {
      background-color: var(--text-color);
      color: var(--background-color);
      text-shadow: 2px 1px 1px red;
    }
    
    ::-moz-selection {
      background-color: var(--text-color);
      color: var(--background-color);
      text-shadow: 2px 1px 1px red;
    }
  }
}

/* KEYFRAAAAAMES */
@keyframes shake {
  0% {
    transform: translate(1px, 5px) rotate(0deg);
  }
  20% {
    transform: translate(-5px, -2px) rotate(-5deg);
  }
  50% {
    transform: translate(3px, 4px) rotate(0deg);
  }
  70% {
    transform: translate(8px, 1px) rotate(-5deg);
  }
  100% {
    transform: translate(1px, 5px) rotate(0deg);
  }
}
