:root {
    --fond: rgb(4,4,4)
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;

    body {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;

        /* Cheat code */
        .hidden {
            display: none;
        }

        /* Modificateur de marge dynamique pour ajuster l’espace */
        .spacer {
            margin-top: 100vh; 
            margin-bottom: 50vh; 
        }

        /* Optionnel : Style des messages pour les réponses */
        .message {
            margin-top: 2vh;
            color: #333;
        }

    }
}
